@media screen and (max-width: 768px) {
    #hero {
        padding: 88px;
    }

    #greeting-box {
        margin: 48px;
    }

    .display-question {
        margin: 0;
        padding: var(--size-16);
    }

    #results-box {
        margin: 138px 77px;
    }
}

@media screen and (max-width: 425px) {
    #hero {
        padding: 42px;
    }

    #results-box {
        margin: 69px 77px;
    }

    #results-box h1 {
        font-size: var(--size-32);
    }

    #results-box p {
        font-size: var(--size-24);
    }
}

@media screen and (max-width: 375px) {
    #hero {
        padding: 25px;
    }

    #results-box {
        margin: 69px 44px;
    }
}

@media screen and (max-width: 320px) {
    #hero {
        padding: 32px;
    }

    #greeting-box {
        margin: 24px;
    }

    #reset-next-btns {
        display: flex;
        flex-direction: column;
    }

    .next-btn {
        margin-left: 0;
        margin-top: var(--size-16);
    }
}